<div id="dashboard">
	<h1 class="title">Follow our 5 step program to <span class="highlight">Get Growing</span></h1>
	<br />
	<!--Twitter Item --></span>
	<%= render "twitter_item" %>
	<br class="clear" />
	<!--FB Item-->
	<%= render "facebook_item" %>
	<br class="clear" />

	<%= render "library_item" %>
	<br class="clear" />

	<%= render "growth_item" %>
	<br class="clear" />

	<!--Influencer -->
	<%= render "influencer_item" %>
	<br class="clear" />

</div>