<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Please resolve the following:</h2>
    <ul>
    <% @user.errors.messages.values.each do |msg| %>
      <% msg.each do |m| %>
        <li><%= m %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= f.hidden_field :_id, :class => 'text_field' %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', :placeholder => "Sample@website.com" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
      <em style="display: inline-block; font-side: .8em;">(6-12 characters)</em>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field', :placeholder => "http://www.sproutzly.com" %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%#= f.label :facebook_url, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :facebook_url, :class => 'text_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <div class="controls">
      <em class="required-note">***All Fields Required***</e>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Register", :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
