<div id="addon" class="container">

  <h1>Grow Even More</h1>

  <p>Lorem ipsum Ut anim aliquip laborum consectetur sit consectetur ad dolore cillum nulla sed fugiat nisi consectetur reprehenderit veniam officia.</p>

  <div class="addonRow row">
    <div class="block span4">
      <%= image_tag "addons/youtube.png", :style => "width:120px" %>
      <h2>200 Youtube Likes</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>

    <div class="block span4">
      <%= image_tag "addons/pintrest.jpg", :style => "width:120px" %>
      <h2>300 Pins</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>

    <div class="block span4">
      <%= image_tag "addons/twitter.png",  :style => "width:120px"%>
      <h2>Twitter Party</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>
  </div>

  <div class="addonRow row">
    <div class="block span4">
      <%= image_tag "home/influenceCircle.png" %>
      <h2>Access Influences</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>

    <div class="block span4">
      <%= image_tag "home/growthCircle.png",  :style => "width:108px"%>
      <h2>1 Growth Strategy</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>

    <div class="block span4">
      <%= image_tag "addons/instagram.jpeg",  :style => "width:120px"%>
      <h2>500 Likes</h2>
      <button type="button" class="btn btn-primary btn-large">Get It</button>
    </div>
  </div>


</div>